{% extends "layout/layout-admin/base-admin.html" %} 
{% load static %} 
{% block title %}Edit Movie{% endblock %} 
{% block content %}
<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <form
    action="{% url 'movie_edit' movie.id %}"
    method="PUT"
    enctype="multipart/form-data"
    class="card-create"
  >
    {% csrf_token %}
    <h1>EDIT MOVIE</h1><br />
    <div class="card-content">
      <div class="card-left" style="width: 58%;">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ movie.title }}" required /><br /><br />

        <!-- <label for="genres">Genres:</label>
                            <input type="text" id="genres" name="genres" required><br><br> -->

        <label for="overview">Overview:</label>
        <textarea
          id="overview"
          name="overview"
          rows="8"
          cols="50"
          required
        >{{ movie.overview }}</textarea
        ><br /><br />

        <!-- <label for="movie_duration">Duration:</label>
        <input
          type="text"
          id="movie_duration"
          name="movie_duration"
          value="{{ movie.movie_duration }}"
          required
        /><br /><br /> -->

        <label for="release_date">Release Date:</label>
        <input
          type="date"
          id="release_date"
          name="release_date"
          value="{{ date_object }}"
          required
        /><br /><br />
          
        <!-- <label for="status">Status:</label>
        <select id="status" name="status" required>
          <option value="Released">Released</option>
          <option value="About to premiere">About to premiere</option>
          <option value="Not yet released">Not yet released</option>
        </select><br /><br /> -->
      </div>

      <div class="card-right" style="text-align: center; width: 42%;">
        <img 
          id="image" 
          src="{{ movie.poster_path }}" 
          style="height: 520px; margin-bottom: 20px; cursor: pointer; padding: 30px; justify-content: center;"
        >
        <input type="file" id="fileInput" accept="image/*" onchange="displayImage(event)" style="display: none;">
        <br />
        
        <!-- <label for="cast">Cast:</label>
                            <input type="text" id="cast" name="cast" required><br><br>
            
                            <label for="director">Director:</label>
                            <input type="text" id="director" name="director" required><br><br>
            
                            <label for="spokenlanguage">Language:</label>
                            <input type="text" id="spokenlanguage" name="spokenlanguage" required><br><br>
            
                            <label for="country">Country:</label>
                            <input type="text" id="country" name="country" required><br><br>

                            <label for="keyword">Keyword:</label>
                            <input type="text" id="keyword" name="keyword" required><br><br>-->
      </div>
    </div>
    <div class="card-btn">
      <input class="btn-cancel" type="submit" value="Cancel" />
      <input class="btn-add" type="submit" value="Save" style="margin-right: 0px;"/>
    </div>
  </form>
  <script src="{% static 'dashboard/js/movie_edit.js' %}"></script>
</div>
<!-- Form End -->
{% endblock %}