{% extends "layout/layout-admin/base-admin.html" %} 
{% load static %} 
{% block title %}Edit Movie{% endblock %} 
{% block content %}
<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <form
    action="{% url 'movie_edit' movie.id %}"
    method="POST"
    enctype="multipart/form-data"
    class="card-create"
  >
    {% csrf_token %}
    <h1>EDIT MOVIE</h1><br />
    <div class="card-content">
      <div class="card-left" style="width: 58%;">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ movie.title }}" required /><br /><br />

        <label for="overview">Overview:</label>
        <textarea
          id="overview"
          name="overview"
          rows="5"
          cols="50"
          required
        >{{ movie.overview }}</textarea
        ><br /><br />

        <label for="release_date">Release Date:</label>
        <input
          type="text"
          id="release_date"
          name="release_date"
          value="{{ date_object }}"
          required
        /><br /><br />

        <label for="poster_path">URL Poster:</label>
        <input
          type="text"
          id="poster_path"
          name="poster_path"
          value="{{ movie.poster_path }}"
          placeholder="https://"
          required
        /><br /><br />
      </div>

      <div class="card-right" style="text-align: center; width: 42%;">
        <img 
          id="image" 
          src="{{ movie.poster_path }}" 
          style="height: 520px; width: 370px; margin-bottom: 20px; cursor: pointer; padding: 30px; justify-content: center; object-fit: cover;"
        >
        <input type="file" id="fileInput" accept="image/*" onchange="displayImage(event)" style="display: none;">
        <br />
      </div>
      <script>
        var posterPathInput = document.getElementById('poster_path');
        var imageElement = document.getElementById('image');
    
        posterPathInput.addEventListener('input', function() {
          var posterPath = posterPathInput.value;
    
          if (posterPath.trim() === '') {
            imageElement.src = '{% static "dashboard/img/default-image.jpg" %}';
          } else {
            imageElement.src = posterPath;
          }
        });
      </script>
    </div>
    <div class="card-btn">
      <input class="btn-cancel" type="submit" value="Cancel" />
      <input class="btn-add" type="submit" value="Save" style="margin-right: 0px;"/>
    </div>
  </form>
  <script src="{% static 'dashboard/js/movie_edit.js' %}"></script>
</div>
<!-- Form End -->
{% endblock %}