{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'movies/img/logo.jpg' %}" type="image/jpg">
    <link href="{% static 'movies/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'movies/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'movies/css/global.css' %}" rel="stylesheet" />
    <link href="{% static 'movies/css/detail.css' %}" rel="stylesheet" />
    <link href="{% static 'movies/css/pagination.css' %}" rel="stylesheet" />
    <link href="{% static 'movies/css/about.css' %}" rel="stylesheet" />
    
    <link
      href="{% static 'movies/css/index.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'movies/js/bootstrap.bundle.min.js' %}"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'movies/css/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static 'movies/js/toastr.min.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
    <link href="{% static 'movies/css/autoComplete.css' %}" rel="stylesheet" />
    <script type="text/javascript">
      var films = {{ movies_list | safe }};
    </script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            if ('{{ message.tags }}' == 'error') {
                var loaderBgColor = '#FF0000';
            } else {
                var loaderBgColor = '#05BD11';
            }
            $.toast({
                heading: '{{ message.tags }}',
                text: '{{ message }}',
                showHideTransition: 'slide',
                icon: '{{ message.tags }}',
                position: 'top-right', 
                loaderBg: loaderBgColor,
            });
        </script>
    {% endfor %}
    {% endif %}
    {% include 'layout/header.html' %} {% block content %} {% endblock %} 
    {% include 'layout/footer.html' %}

    <script>
      window.onscroll = function () {
        myFunction();
      };
    
      var navbar_sticky = document.getElementById("navbar_sticky");
      var sticky = navbar_sticky.offsetTop;
      var navbar_height = document.querySelector(".navbar").offsetHeight;
    
      function myFunction() {
        if (window.pageYOffset >= sticky + navbar_height) {
          navbar_sticky.classList.add("sticky");
          document.body.style.paddingTop = navbar_height + "px";
        } else {
          navbar_sticky.classList.remove("sticky");
          document.body.style.paddingTop = "0";
        }
      }
    </script>
  </body>
</html>
