{% load static %}
<section id="footer" style="border-top:2px solid #de1002">
  <div class="footer_m clearfix" style="background-color: black">
    <div class="container">
      <div class="row footer_1">
        <div class="col-md-4">
          <div class="footer_1i">
            <h3>
              <a class="text-white" href="#"
                ><i class="fa fa-video-camera col_red me-1"></i> Planet</a
              >
            </h3>
            <p class="mt-3">
              DPT Movie is a self-designed movie website, built by a development
              team passionate about cinema and technology. This website was
              created to provide users with a fun and convenient experience when
              searching, discovering and watching movies.
            </p>
            <h6 class="fw-normal">
              <i class="fa fa-map-marker fs-5 align-middle col_red me-1"></i> 54
              Nguyen Luong Bang - Lien Chieu - Da Nang
            </h6>
            <h6 class="fw-normal mt-3">
              <i class="fa fa-envelope fs-5 align-middle col_red me-1"></i>
              dptmovie@gmail.com
            </h6>
            <h6 class="fw-normal mt-3 mb-0">
              <i class="fa fa-phone fs-5 align-middle col_red me-1"></i> +123
              123 456
            </h6>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer_1i">
            <h4>Flickr <span class="col_red">Stream</span></h4>
            <div class="footer_1i1 row mt-4">
              <div class="col-md-3 col-3">
                <div class="footer_1i1i">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <img
                        src="{% static 'movies/img/04.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </figure>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-3">
                <div class="footer_1i1i">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <img
                        src="{% static 'movies/img/05.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </figure>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-3">
                <div class="footer_1i1i">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <img
                        src="{% static 'movies/img/06.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </figure>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-3">
                <div class="footer_1i1i">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <img
                        src="{% static 'movies/img/07.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer_1i1 row mt-3">
              <div class="col-md-3 col-3">
                <div class="footer_1i1i">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <img
                        src="{% static 'movies/img/08.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </figure>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-3">
                <div class="footer_1i1i">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <img
                        src="{% static 'movies/img/09.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </figure>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-3">
                <div class="footer_1i1i">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <img
                        src="{% static 'movies/img/img10.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </figure>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-3">
                <div class="footer_1i1i">
                  <div class="grid clearfix">
                    <figure class="effect-jazz mb-0">
                      <img
                        src="{% static 'movies/img/img11.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer_1i">
            <h4>Sign <span class="col_red">Newsletter</span></h4>
            <p class="mt-3">
              Subscribe to our newsletter list to get latest news and updates
              from us
            </p>
            <div class="input-group">
              <input
                type="text"
                class="form-control bg-black"
                placeholder="Email"
              />
              <span class="input-group-btn">
                <button
                  class="btn btn text-white bg_red rounded-0 border-0"
                  type="button"
                >
                  Subscribe
                </button>
              </span>
            </div>
            <ul class="social-network social-circle mb-0 mt-4">
              <li>
                <a href="#" class="icoRss" title="Rss"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoFacebook" title="Facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoTwitter" title="Twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoGoogle" title="Google +"
                  ><i class="fa fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoLinkedin" title="Linkedin"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
