{% load static %}

<section id="top">
  <div class="container">
    <div class="row top_1">
      <div class="col-md-3" style="display: flex; align-items: center;">
        <div class="top_1l pt-1">
          <h3 class="mb-0">
            <a class="text-white" href="{% url 'home' %}"
              ><i class="fa fa-video-camera col_red me-1"></i>
              <span class="col_red">DPT</span> Movie</a
            >
          </h3>
        </div>
      </div>
      <div class="col-md-5">
        <div class="top_1m">
          <div class="input-group">
            <input
              type="text"
              class="form-control bg-black"
              name="search"
              placeholder="Enter the Movie Name..."
              id="autoComplete"
              autocomplete="off"
              style="background-color: #ffffff !important;border-color:#ffffff !important;width: 60% !important;color: #181818 !important; height: 50px; border-radius: 0px;" required="required"
            />
            <span class="input-group-btn" style="display: flex;">
              <button
                id="searchButton"
                class="btn btn text-white bg_red rounded-0 border-0"
                type="button"
              >
                Search
              </button>
            </span>
          </div>
        </div>
      </div>

  </div>
</section>

<section id="header">
  <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
    <div class="container">
      <a class="navbar-brand text-white fw-bold" href="{% url 'home' %}"
        ><i class="fa fa-video-camera col_red me-1"></i>
        <span class="col_red">DPT</span> Movie</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Blog
            </a>
            <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
              <li>
                <a class="dropdown-item" href="{% url 'blog_detail' %}"
                  >Blog Detail</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact'%}">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3" >
        <div class="top_1r text-end" >
          {% if request.session.user_id %}
            <!-- Hiển thị avata hoặc tên người dùng -->
            <!-- Navbar Start -->
            <div class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0" style="background-color: #191a1d!important;">
              <div class="navbar-nav align-items-center ms-auto" >   
                  <div class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                          <img class="rounded-circle me-lg-2" src="{{ request.session.user_avatar }}" alt="" style="width: 40px; height: 40px;">
                          <span class="d-none d-lg-inline-flex" style="font-weight: 600;">{{ request.session.user_username }}</span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0" style="background-color: white!important;">
                          <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                          {% if request.session.user_role == 'admin' %}
                              <a href="{% url 'dashboard' %}" class="dropdown-item">Manage</a>
                          {% endif %}
                          <a href="{% url 'suggestion' %}" class="dropdown-item">Suggestion</a>
                          <a href="{% url 'bookmarked_movies' %}" class="dropdown-item">Bookmark</a>
                          <a href="{% url 'signout' %}" class="dropdown-item">Sign Out</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Navbar End -->
          {% else %}
            <!-- Hiển thị nút Sign In nếu người dùng chưa đăng nhập -->
            <a href="{% url 'signin' %}" class="button" style="height: 36px; padding: 6px 20px; border-radius: 0.1875rem; font-weight: bold;">Sign In</a>
          {% endif %}
        </div>
      </div>
    </div>
    </div>


  </nav>
</section>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.getElementById("autoComplete");
    const searchButton = document.getElementById("searchButton");

    searchInput.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        performSearch();
      }
    });

    searchButton.addEventListener("click", function() {
      performSearch();
    });

    function performSearch() {
      const searchTerm = searchInput.value.trim(); 
      if (searchTerm) {
        window.location.href = "{% url 'movie_find_view' %}?search=" + encodeURIComponent(searchTerm);
      }
      else {
        window.location.href = "{% url 'movie_find_view' %}?search="
      }
    }
  });

  new autoComplete({
    data: {                              // Data src [Array, Function, Async] | (REQUIRED)
      src: films,
    },
    selector: "#autoComplete",           // Input field selector              | (Optional)
    threshold: 2,                        // Min. Chars length to start Engine | (Optional)
    debounce: 100,                       // Post duration for engine to start | (Optional)
    searchEngine: "strict",              // Search Engine type/mode           | (Optional)
    resultsList: {                       // Rendered results list object      | (Optional)
        render: true,
        container: source => {
            source.setAttribute("id", "movie_list");
        },
        destination: document.querySelector("#autoComplete"),
        position: "afterend",
        element: "ul"
    },
    maxResults: 7,                         // Max. number of rendered results | (Optional)
    highlight: true,                       // Highlight matching results      | (Optional)
    resultItem: {                          // Rendered result item            | (Optional)
        content: (data, source) => {
            source.innerHTML = data.match;
        },
        element: "li"
    },
    noResults: () => {                     // Action script on noResults      | (Optional)
        const result = document.createElement("li");
        result.setAttribute("class", "no_result");
        result.setAttribute("tabindex", "1");
        result.innerHTML = "No Results";
        document.querySelector("#autoComplete_list").appendChild(result);
    },
    onSelection: feedback => {             // Action script onSelection event | (Optional)
        document.getElementById('autoComplete').value = feedback.selection.value;
    }
});
</script>