{% extends "layout/layout-admin/base-admin.html" %}
{% load static %}
{% block title %}List Users{% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">                        
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="parent-node">
                    <a href="#" class="child-node">Copy</a>
                    <a href="#" class="child-node">CSV</a>
                    <a href="#" class="child-node">Excel</a>
                    <a href="#" class="child-node">Print</a>
                </div>
                <div class="table-responsive">
                    <table id="example" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Country</th>
                                <th>Avatar</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            <tr>
                                <td>
                                    <a style="color: #6C7293;">{{ user.id }}</a>
                                </td>
                                <td style="max-width: 150px;">
                                    <a style="color: #6C7293;">{{ user.username }}</a>
                                </td>
                                <td style="min-width: 150px;">
                                    <a style="color: #6C7293;">{{ user.email }}</a>
                                </td>
                                <td style="max-width: 150px;">
                                    <a style="color: #6C7293;"></a>{{ user.phonenumber }}</a>
                                </td>
                                <td style="max-width: 150px;">
                                    <a style="color: #6C7293;"></a>{{ user.country }}</a>
                                </td>
                                <td>
                                    <div style="width: 150px;">
                                        <img src="{{ user.avatar }}" style="height: 100px;" />
                                    </div>
                                </td>
                                <td>
                                    <a style="color: #6C7293;">{{ user.role }}</a>
                                </td>
                                <td>
                                    <a href="#">
                                        <i class="fa fa-trash-alt" style="margin-left: 25px; font-size: 20px; cursor: pointer;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/dataTable.js' %}"></script>
{% endblock %}