{% load get_dict_val %}
{% with my_ratings|get_dict_val:object.id as current_rating %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/css/toastr.css' %}" media="all">
<script type="text/javascript" src="{% static 'movies/js/toastr.min.js' %}"></script>
<link href="{% static 'movies/css/bookmark.css' %}" rel="stylesheet" />
<div class="col-md-3 col-6" style="margin-bottom: 20px;">
  <div class="trend_2im clearfix position-relative">
    <div class="trend_2im1 clearfix">
      <div class="grid">
        <figure class="effect-jazz mb-0">
          {% if object.poster_path %}
            <img src="{{ object.poster_path }}" class="d-block w-100" alt="{{ object.title }} Poster" width="520" height="250" style="object-fit: cover;" >
          {% else %}
            <p>No poster available.</p>
          {% endif %}
        </figure>
      </div>
    </div>
    <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
      <span class="fs-1"><a class="col_red" href="{{ object.get_video_url }}"><i class="fa fa-youtube-play"></i></a></span>
    </div>
  </div>
  <div class="trend_2ilast bg_grey p-3 clearfix" style="min-height: 240px;">
    <h5 style="display: flex; justify-content: space-between; align-items: center;">
      <a class="col_red" href="{{ object.get_absolute_url }}" id="title">{{ object.title }}</a>
      <div class="bookmark" onclick="toggleBookmark(this)" data-movie-id="{{ object.id }}"><span class="tooltiptext">Bookmark</span></div>
    </h5>
    <p class="mb-2">{{ object.overview|slice:":80" }}</p>
    <div class="mb-0" style="display: flex; justify-content: space-between; align-items: center;">
      <div class="rating">
        <span class="col_red" style="font-size: 20px;">{{ object.rating_avg }} <i class="fa fa-star"></i></span>
        <!-- <span class="rating-count">({{ object.rating_count }})</span> -->
      </div>
      <div class="movie-info">
        <p class="mb-0">Released: {{ object.release_date|date:"M. d, Y" }}</p>
        <p class="mb-0">Review: {{ object.rating_count }}</p>
      </div>
    </div>
  </div>
</div>
<script>
function toggleBookmark(bookmarkElement) {
  const movieId = bookmarkElement.dataset.movieId;
  const isBookmarked = bookmarkElement.classList.toggle('bookmarked');
  saveBookmarkState(movieId, isBookmarked);
}

function saveBookmarkState(movieId, isBookmarked) {
  const bookmarkedMovies = JSON.parse(localStorage.getItem('bookmarkedMovies')) || {};
  bookmarkedMovies[movieId] = isBookmarked;
  localStorage.setItem('bookmarkedMovies', JSON.stringify(bookmarkedMovies));
  $.ajax({
    url: "/bookmark/movie/",
    type: "POST",
    data: {
      'movie_id': movieId,
      'is_bookmarked': isBookmarked,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',
    success: function (data) {
      if(data.status == 'success') {
        console.log(data.message);
        $.toast({
          heading: "Success",
          text: data.message,
          showHideTransition: "slide",
          icon: "success",
          position: "top-right",
          loaderBg: "#5ba035",
        });
      } else {
        console.log("Error: " + data.message);
      }
    }
  });
}


function restoreBookmarkState() {
  const bookmarkedMovies = JSON.parse(localStorage.getItem('bookmarkedMovies')) || {};
  for (const movieId in bookmarkedMovies) {
    const isBookmarked = bookmarkedMovies[movieId];
    const movieElement = document.querySelector(`.bookmark[data-movie-id="${movieId}"]`);
    if (movieElement) {
      if (isBookmarked) {
        movieElement.classList.add('bookmarked');
      } else {
        movieElement.classList.remove('bookmarked');
      }
    }
  }
}
window.onload = restoreBookmarkState;
</script>
{% endblock %}
{% endwith %}