{% load static %}
<link href="{% static 'movies/css/rating.css' %}" rel="stylesheet" />
<div class="rating-container">
  <form id="rateMovieForm_{{ object_id }}">
    {% csrf_token %}
    {% if object_id %}
        <input type="hidden" value="{{ object_id }}" name="object_id" />
    {% endif %}
    <select name="rating_value" class="form-control"
    style="width: 130px; border-radius: 0.25rem; cursor: pointer; background: white;">
        {% for choice in rating_choices %}
            {% if choice is None %}
                <option disabled selected>Rating Movie</option>
            {% else %}
                <option {% if current_rating == choice %}selected{% endif %} value="{{ choice }}" id="choice_{{choice}}">{{ choice }}</option>
            {% endif %}
        {% endfor %}
    </select>
  </form>
  <span class="label_ratings">
  </span>
</div>

<script type="text/javascript">
  $(document).ready(function () {
      var rating = "{{ current_rating }}";
      if (rating == 5) {
          $("#choice_5").prop("selected", true);
          $(".label_ratings").text("Excellent");
          // $(".label_ratings").css("background-color", "#efc909");
          // $(".label_ratings::before").css("border-color", "transparent #efc909 transparent transparent");
        } else if (rating == 4) {
            $("#choice_4").prop("selected", true);
            $(".label_ratings").text("Good");
            // $(".label_ratings").css("background-color", "#f3a106");
            // $(".label_ratings::before").css("border-color", "transparent #f3a106 transparent transparent");
        } else if (rating == 3) {
            $("#choice_3").prop("selected", true);
            $(".label_ratings").text("Average");
            // $(".label_ratings").css("background-color", "#f06a06");
            // $(".label_ratings::before").css("border-color", "transparent #f06a06 transparent transparent");
        } else if (rating == 2) {
            $("#choice_2").prop("selected", true);
            $(".label_ratings").text("Poor");
            // $(".label_ratings").css("background-color", "#ef4604");
            // $(".label_ratings::before").css("border-color", "transparent #ef4604 transparent transparent");
        } else if (rating == 1) {
            $("#choice_1").prop("selected", true);
            $(".label_ratings").text("Very Poor");
            // $(".label_ratings").css("background-color", "#ff4105");
            // $(".label_ratings::before").css("border-color", "transparent #ff4105 transparent transparent");
        } else {
          $(".label_ratings").hide();
        }

      $("#rateMovieForm_{{ object_id }}").change(function () {
          let rating_value = $("#rateMovieForm_{{ object_id }} select").val();
          $.ajax({
              url: "/rate/movie/",
              type: "POST",
              data: {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                object_id: "{{ object_id }}",
                rating_value: rating_value,
              },
              success: function (data) {
                  if (data.status == "error") {
                    $.toast({
                      heading: "Error",
                      text: data.message,
                      showHideTransition: "slide",
                      icon: "error",
                      position: "top-right",
                      loaderBg: "#FF0000",
                    });
                  } else {
                    $.toast({
                      heading: "Success",
                      text: data.message,
                      showHideTransition: "slide",
                      icon: "success",
                      position: "top-right",
                      loaderBg: "#05BD11",
                    });
                    if (rating_value == 5) {
                      $("#choice_5").prop("selected", true);
                      $(".label_ratings").text("Excellent");
                    } else if (rating_value == 4) {
                      $("#choice_4").prop("selected", true);
                      $(".label_ratings").text("Good");
                    } else if (rating_value == 3) {
                      $("#choice_3").prop("selected", true);
                      $(".label_ratings").text("Average");
                    } else if (rating_value == 2) {
                      $("#choice_2").prop("selected", true);
                      $(".label_ratings").text("Poor");
                    } else if (rating_value == 1) {
                      $("#choice_1").prop("selected", true);
                      $(".label_ratings").text("Very Poor");
                    } else {
                      $("#choice_0").prop("selected", true);
                      $(".label_ratings").text("Not Rated");
                    }
                    $(".label_ratings").show();
                  }
              },
          });
      });
  });
</script>