{% extends "layout/base.html" %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}
{% block content %}

<section id="popular" class="pt-4 pb-5 bg_grey">
  <div class="card-container">
    <div class="card-top">
      <div class="card-top-img">
        <img src={{movie.poster_path}} alt="{{ movie.title }} Poster"  style="box-shadow: 0px 1px 15px 4px rgba(250,250,250,1); border-radius: 40px"/>
      </div>
      <div class="card-top-info" name="card">
        <h4 class="mb-0"><span class="col_red">{{ object.title }}</span></h4>
        <h5><span>{{ object.overview }}</span></h5><br><br /><br />
        <h5>Rating:
          {{object.rating_avg}} ({{object.rating_count}})
          <i class="fa fa-star align-middle"></i>

        </h5>
        <h5>Release Date:<span> {{ movie.release_date }}</span></h5>
        <h5 style="display: flex; align-items: center;">Genres:
          <div style="display: flex;flex-wrap: wrap;justify-content: space-around;">
            {% for genre in genres %}
            <span style="margin-right: 20px; margin-bottom: 5px;"> <a class="bg_red p-2 pe-4 ps-4 ms-3 text-white d-inline-block" href="#" style="text-align: center;">{{genre.name}}</a> </span>
            {% endfor %}
          </div>
        </h5>
        <h5>Directors:
          {% for director in directors %}
          <span style="margin-right: 20px;"> {{ director.name }} </span>
          {% endfor %}
        </h5>
        <h5>Countries:
          {% for country in countries %}
          <span style="margin-right: 20px;"> {{ country.name }} </span>
          {% endfor %}
        </h5>
        <div class="d-flex align-items-center" style="gap: 20px;">
          <h6 class="mb-0">
            <a class="button" href="{{ object.get_video_url }}">
              <i class="fa fa-play-circle align-middle me-1"></i>Watch Trailer
            </a>
          </h6>
            {% include 'ratings/snippet/rating-choices.html' with object_id=object.id current_rating=my_ratings %}
        </div>
      </div>
    </div>
    <div class="card-actor" style="margin-top: 40px;">
    	<center>
        <h3>TOP CAST</h3>
        <h5>(Click on the cast to know more)</h5>
      </center>
      <div class="card-actor-info" style="display: flex; margin-bottom: 50px;margin-top: 40px; flex-wrap: wrap;justify-content: space-around;">
        {% for cast in first_row %}
        <div class="card-actor-item" style="display: flex;">
          {% if cast.profile_path %}
          <img src="https://image.tmdb.org/t/p/w185{{ cast.profile_path }}"
            style="height: 200px; margin-right: 10px; object-fit: cover; margin-bottom: 5px;" /><br />
          {% else %}
          <img src="{% static 'movies/img/default-image.jpg' %}"
            style="height: 200px; width: 133px; margin-right: 10px; object-fit: cover; margin-bottom: 5px;" /><br />
          {% endif %}
          <div style="width: 200px;">
            <span style="font-weight: 800; font-size: 18px;">{{ cast.name }}</span><br />
            <span>{{ cast.character }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="card-actor-info" style="display: flex; margin-bottom: 50px; flex-wrap: wrap;justify-content: space-around;">
        {% for cast in second_row %}
        <div class="card-actor-item" style="display: flex;">
          {% if cast.profile_path %}
          <img src="https://image.tmdb.org/t/p/w185{{ cast.profile_path }}"
            style="height: 200px; margin-right: 10px; object-fit: cover; margin-bottom: 5px;" /><br />
          {% else %}
          <img src="{% static 'movies/img/default-image.jpg' %}"
            style="height: 200px; width: 133px; margin-right: 10px; object-fit: cover; margin-bottom: 5px;" /><br />
          {% endif %}
          <div style="width: 200px;">
            <span style="font-weight: 800; font-size: 18px;">{{ cast.name }}</span><br />
            <span>{{ cast.character }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="pt-4 pb-5">
  <div class="card-container">
    <h2>Write a Review for {{ movie.title }}</h2>
    {% include 'reviews/snippet/review.html' with object_id=object.id reviews=reviews%}
  </div>
</section>

<section id="trend" class="pt-4 pb-5">
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-6 col-6">
				<div class="trend_1l">
					<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Recommended <span
							class="col_red">Movies</span></h4>
				</div>
			</div>
		</div>

		<div class="row trend_2 mt-4">
			<div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active"
						aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1"
						aria-label="Slide 2" class="" aria-current="true"></button>
				</div>
				<div class="carousel-inner">
					{% include 'movies/list.html' with object_list=recommend_movies %}
				</div>
			</div>
		</div>
	</div>
</section>
<section id="upcome" class="pt-4 pb-5" >
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-6 col-6">
				<div class="trend_1l">
					<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> TopRated <span
							class="col_red">Movies</span></h4>
				</div>
			</div>
		</div>
		<div class="row trend_2 mt-4">
			<div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active"
						aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
						aria-label="Slide 2" class="" aria-current="true"></button>
				</div>
				<div class="carousel-inner">
					{% include 'movies/list.html' with object_list=top_rated_movies %} 
				</div>

			</div>
		</div>
	</div>
</section>
{% endblock %}