{% extends "layout/base.html" %}
{% load static %}

{% block title %}Suggestion{% endblock %}
{% block content %}

<section id="trend" class="pt-4 pb-5">
    <div class="container">
      <div class="row trend_2 mt-4">
        <h5>Movies <span class="col_red" id="searchResult"> </span></h5>
      </div>
      <div class="row trend_2 mt-4">

        <div class="col-md-3 col-6 mb-4">
          <div class="trend_2im clearfix position-relative">
            <div class="trend_2im1 clearfix">
              <div class="grid">
                <figure class="effect-jazz mb-0">
                  <img src="#" height="200" class="d-block w-100" alt="...">
                </figure>
              </div>
            </div>
            <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
              <span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
            </div>
          </div>
          <div class="trend_2ilast bg_grey p-3 clearfix">
            <h5><a class="col_red" href="#" id="showModal"></a></h5>
            <p class="mb-2">The Croods is a 2013 animation film written, directed, and produced</p>
            <span class="col_red">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <p class="mb-0">1 Views</p>
          </div>
        </div>

        <div class="col-md-3 col-6 mb-4">
            <div class="trend_2im clearfix position-relative">
              <div class="trend_2im1 clearfix">
                <div class="grid">
                  <figure class="effect-jazz mb-0">
                    <img src="#" height="200" class="d-block w-100" alt="...">
                  </figure>
                </div>
              </div>
              <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
                <span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
              </div>
            </div>
            <div class="trend_2ilast bg_grey p-3 clearfix">
              <h5><a class="col_red" href="#" id="showModal"></a></h5>
              <p class="mb-2">The Croods is a 2013 animation film written, directed, and produced</p>
              <span class="col_red">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <p class="mb-0">1 Views</p>
            </div>
        </div>

        <div class="col-md-3 col-6 mb-4">
            <div class="trend_2im clearfix position-relative">
              <div class="trend_2im1 clearfix">
                <div class="grid">
                  <figure class="effect-jazz mb-0">
                    <img src="#" height="200" class="d-block w-100" alt="...">
                  </figure>
                </div>
              </div>
              <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
                <span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
              </div>
            </div>
            <div class="trend_2ilast bg_grey p-3 clearfix">
              <h5><a class="col_red" href="#" id="showModal"></a></h5>
              <p class="mb-2">The Croods is a 2013 animation film written, directed, and produced</p>
              <span class="col_red">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <p class="mb-0">1 Views</p>
            </div>
          </div>
  
        <div class="col-md-3 col-6 mb-4">
              <div class="trend_2im clearfix position-relative">
                <div class="trend_2im1 clearfix">
                  <div class="grid">
                    <figure class="effect-jazz mb-0">
                      <img src="#" height="200" class="d-block w-100" alt="...">
                    </figure>
                  </div>
                </div>
                <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
                  <span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
                </div>
              </div>
              <div class="trend_2ilast bg_grey p-3 clearfix">
                <h5><a class="col_red" href="#" id="showModal"></a></h5>
                <p class="mb-2">The Croods is a 2013 animation film written, directed, and produced</p>
                <span class="col_red">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
                <p class="mb-0">1 Views</p>
              </div>
        </div>
      </div>
    </div>
</section>
<section>
  <div class="card-space"></div>
</section>
{% endblock %}