{% extends "layout/base.html" %}
{% load static %}
{% block title %}Suggestion{% endblock %}
{% block content %}
<section id="center" class="center_o pt-2 pb-2">
  <div class="container-xl">
   <div class="row center_o1">
    <div class="col-md-5">
      <div class="center_o1l">
       <h2 class="mb-0">Suggest Movies</h2>
      </div>
    </div>
    <div class="col-md-7">
      <div class="center_o1r text-end">
       <h6 class="mb-0 col_red"><a href="#">Home</a> <span class="me-2 ms-2 text-light"><i class="fa fa-caret-right align-middle"></i></span>Suggest Movies</h6>
      </div>
    </div>
   </div>
  </div>
</section>
<section id="trend" class="pt-4 pb-5">
    <div class="container">
      <div class="row trend_2 mt-4">
        {% for object in object_list %}
        {% include 'movies/snippet/card.html' with object=object current_rating=current_rating %}
        {% endfor %}
      </div>
      <div class="pagination">
        <span class="step-links">
          {% if object_list.has_previous %}
            <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">previous</a>
          {% endif %}
      
          <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
          </span>
      
          {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">last &raquo;</a>
          {% endif %}
        </span>
      </div> 
    </div>
</section>
<section>
  <div class="card-space"></div>
</section>
{% endblock %}