<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
/>
<body>
<div>
  <form style="width: 70%;">
    {% csrf_token %}
    <div class="success mb-2"></div>
    {% if object_id %}
    <input type="hidden" value="{{ object_id }}" name="object_id" />
    {% endif %}
    <textarea
      name="content"
      rows="4"
      placeholder="Enter your review here..."
      style="width: 100%; padding: 10px; margin-bottom: 10px"
    ></textarea>
    <div
      class="button"
      id="reviewButton"
      style="
        height: 36px;
        padding: 6px 20px;
        border-radius: 0.1875rem;
        font-weight: bold;
        cursor: pointer;
      "
    >
      Submit Review
    </div>
  </form>
  <h5 style="font-size: 30px; margin: 50px 0 20px 0">Top reviews</h5>
  <div
    class="card-review-info"
    style="display: flex; margin-bottom: 50px; flex-direction: column"
  >
    <div id="review-list-container">
      {% include 'reviews/snippet/review_list.html' with reviews=reviews%}
    </div>
    {% if reviews|length >= 5 %}
    <div id="load-more-btn" class="button"
    style="
    width: 70%;
    text-align: center;
    height: 36px;
    padding: 6px 20px;
    border-radius: 0.1875rem;
    font-weight: bold;
    cursor: pointer;">
      Load More Reviews
    </div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("#reviewButton").click(function () {
      $.ajax({
        url: "/review/movie/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
          object_id: "{{ object_id }}",
          content: $("[name=content]").val(),
        },
        success: function (data) {
          if (data.status == "error") {
            $.toast({
              heading: "Error",
              text: data.message,
              showHideTransition: "slide",
              icon: "error",
              position: "top-right",
              loaderBg: "#FF0000",
            });
          } else {
            $.toast({
              heading: "Success",
              text: data.message,
              showHideTransition: "slide",
              icon: "success",
              position: "top-right",
              loaderBg: "#05BD11",
            });
            document.querySelector('textarea[name="content"]').value = "";
            var newReviewHtml = data.review
            $("#review-list-container").prepend(newReviewHtml);
          }
        },
        error: function (error) {
          console.log("error", error);
          $.toast({
            heading: "Error",
            text: "Something went wrong",
            showHideTransition: "slide",
            icon: "error",
            position: "top-right",
            loaderBg: "#FF0000",
          });
        },
      });
    });

    var currentCount = "{{ reviews|length }}";

    var loadCount = 5;

    $("#load-more-btn").click(function () {
        $.ajax({
            url: "/load-more-reviews/",  
            type: "GET",
            data: {
                'current_count': currentCount,
                'load_count': loadCount,
                'object_id': '{{ object_id }}',
            },
            success: function (data) {
                $("#review-list-container").append(data.reviews_html);
                currentCount += data.loaded_count;
                if (data.all_loaded) {
                    $("#load-more-btn").hide();
                }
            },
            error: function (error) {
                console.log("Error loading more reviews", error);
            },
        });
    });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
</body>
