<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
/>
<body>
<div>
  <form style="width: 70%;">
    {% csrf_token %}
    <div class="success mb-2"></div>
    {% if object_id %}
    <input type="hidden" value="{{ object_id }}" name="object_id" />
    {% endif %}
    <textarea
      name="content"
      rows="4"
      placeholder="Enter your review here..."
      style="width: 100%; padding: 10px; margin-bottom: 10px"
    ></textarea>
    <div
      class="button"
      id="reviewButton"
      style="
        height: 36px;
        padding: 6px 20px;
        border-radius: 0.1875rem;
        font-weight: bold;
        cursor: pointer;
      "
    >
      Submit Review
    </div>
  </form>
  <h5 style="font-size: 30px; margin: 50px 0 20px 0">Top reviews</h5>
  <div
    class="card-review-info"
    style="display: flex; margin-bottom: 50px; flex-direction: column"
  >
    <div id="review-container">
      {% include 'reviews/snippet/review_list.html' with reviews=reviews%}
    </div>
    {% if reviews|length >= 5 %}
    <div id="load-more-btn" class="button"
    style="
    width: 70%;
    text-align: center;
    height: 36px;
    padding: 6px 20px;
    border-radius: 0.1875rem;
    font-weight: bold;
    cursor: pointer;">
      Load More Reviews
    </div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("#reviewButton").click(function () {
      $.ajax({
        url: "/review/movie/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
          object_id: "{{ object_id }}",
          content: $("[name=content]").val(),
        },
        success: function (data) {
          if (data.status == "error") {
            $.toast({
              heading: "Error",
              text: data.message,
              showHideTransition: "slide",
              icon: "error",
              position: "top-right",
              loaderBg: "#FF0000",
            });
          } else {
            $.toast({
              heading: "Success",
              text: data.message,
              showHideTransition: "slide",
              icon: "success",
              position: "top-right",
              loaderBg: "#05BD11",
            });
            document.querySelector('textarea[name="content"]').value = "";
            var newReviewHtml = `
            <div class="card-review-item" data-review-id="${data.review.id}">
                <img class="card-review-item__avatar" src="${data.review.avatar}" alt="${data.review.user}">
                <div class="card-review-item__content">
                    <div  class="card-review-item__info">
                        <span class="card-review-item__user">${data.review.user}</span>
                        <span class="card-review-item__content-text">${data.review.content}</span>
                        <span class="card-review-item__timestamp">${data.review.timestamp}</span>
                    </div>
                    <div
                      class="editReviewForm"
                      data-review-id="${data.review.id}"
                      style="display: none; width: 100%"
                    >
                      <textarea
                        name="content"
                        placeholder="Enter your edited review here..."
                        style="width: 100%"
                      >${data.review.content}</textarea>
                      <div style="display: flex">
                        <div class="saveBtn">Save changes</div>
                        <div class="cancelEditBtn">Cancel</div>
                      </div>
                    </div>
                    <div class="card-review-item__actions">
                        <div class="replyBtn">Reply</div>
                        <div class="editBtn" data-review-id="${data.review.id}">Edit</div>
                        <div class="deleteBtn" data-review-id="${data.review.id}">Delete</div>
                    </div>
                </div>
            </div>
            `;

            document
              .querySelector("#review-container")
              .insertAdjacentHTML("afterbegin", newReviewHtml);
          }
        },
        error: function (error) {
          console.log("error", error);
          $.toast({
            heading: "Error",
            text: "Something went wrong",
            showHideTransition: "slide",
            icon: "error",
            position: "top-right",
            loaderBg: "#FF0000",
          });
        },
      });
    });

    var currentCount = {{ reviews|length }};

    var loadCount = 5;

    $("#load-more-btn").click(function () {
        $.ajax({
            url: "/load-more-reviews/",  
            type: "GET",
            data: {
                'current_count': currentCount,
                'load_count': loadCount,
                'object_id': '{{ object_id }}',
            },
            success: function (data) {
              console.log(data.reviews_html);
                $("#review-container").append(data.reviews_html);
                currentCount += data.loaded_count;
                if (data.all_loaded) {
                    $("#load-more-btn").hide();
                }
            },
            error: function (error) {
                console.log("Error loading more reviews", error);
            },
        });
    });
  
  $("#review-container").on("click", ".deleteBtn", function () {
    console.log("Delete button clicked");
    var reviewId = $(this).data("review-id");
    $("#confirmModal").show();
    $("#confirmDeleteBtn").data("review-id", reviewId);
  });

  $("#confirmDeleteBtn").click(function () {
    var reviewId = $(this).data("review-id");
    $.ajax({
      url: "/review/delete/",
      type: "POST",
      data: {
        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
        review_id: reviewId,
      },
      success: function (data) {
        if (data.status == "error") {
          $.toast({
            heading: "Error",
            text: data.message,
            showHideTransition: "slide",
            icon: "error",
            position: "top-right",
            loaderBg: "#FF0000",
          });
        } else {
          $.toast({
            heading: "Success",
            text: data.message,
            showHideTransition: "slide",
            icon: "success",
            position: "top-right",
            loaderBg: "#05BD11",
          });
          $("#review-container").html(data.reviews);
          $("#confirmModal").hide();
          $(`.card-review-item[data-review-id=${reviewId}]`).remove();
        }
      },
    });
  });

  $("#cancelDeleteBtn, .close").click(function () {
    $("#confirmModal").hide();
  });

  $("#review-container").on("click", ".editBtn", function () {
    console.log("Edit button clicked");
    var reviewId = $(this).data("review-id");
    $(
      `.card-review-item[data-review-id=${reviewId}] .card-review-item__content-text`
    ).hide();
    $(
      `.card-review-item[data-review-id=${reviewId}] .card-review-item__timestamp`
    ).hide();
    $(
      `.card-review-item[data-review-id=${reviewId}] .card-review-item__actions`
    ).hide();
    $(`.card-review-item[data-review-id=${reviewId}] .editReviewForm`).show();
  });

  $("#review-container").on("click", ".cancelEditBtn", function () {
    var reviewId = $(this).parent().parent().data("review-id");
    $(
      `.card-review-item[data-review-id=${reviewId}] .card-review-item__content-text`
    ).show();
    $(
      `.card-review-item[data-review-id=${reviewId}] .card-review-item__timestamp`
    ).show();
    $(
      `.card-review-item[data-review-id=${reviewId}] .card-review-item__actions`
    ).show();
    $(`.card-review-item[data-review-id=${reviewId}] .editReviewForm`).hide();
  });

  $("#review-container").on("click", ".saveBtn", function () {
    var reviewId = $(this).parent().parent().data("review-id");
    var content = $(
      `.card-review-item[data-review-id=${reviewId}] textarea[name=content]`
    ).val();
    $.ajax({
      type: "POST",
      url: "/review/update/",
      data: {
        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
        review_id: reviewId,
        content: content,
      },
      success: function (data) {
        if (data.status === "success") {
          $.toast({
            heading: "Success",
            text: data.message,
            showHideTransition: "slide",
            icon: "success",
            position: "top-right",
            loaderBg: "#05BD11",
          });
          $(
            `.card-review-item[data-review-id=${reviewId}] .card-review-item__content-text`
          )
            .text(data.review.content)
            .show();
          $(
            `.card-review-item[data-review-id=${reviewId}] .editReviewForm`
          ).hide();
          $(
            `.card-review-item[data-review-id=${reviewId}] .card-review-item__timestamp`
          )
            .text(data.review.timestamp)
            .show();
          $(
            `.card-review-item[data-review-id=${reviewId}] .card-review-item__actions`
          ).show();
        } else {
          $.toast({
            heading: "Error",
            text: "Something went wrong",
            showHideTransition: "slide",
            icon: "error",
            position: "top-right",
            loaderBg: "#FF0000",
          });
        }
      },
      error: function (error) {
        $.toast({
          heading: "Error",
          text: "Something went wrong",
          showHideTransition: "slide",
          icon: "error",
          position: "top-right",
          loaderBg: "#FF0000",
        });
      },
    });
  });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
</body>
