.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.step-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.step-links a {
  text-decoration: none;
  color: #de1002;
  border: 1px solid #de1002;
  padding: 5px 10px;
  border-radius: 5px;
}

.step-links a:hover {
  background-color: #de1002;
  color: #fff;
}

.current {
  margin: 0 10px;
  font-weight: bold;
}